node_modules/**
**/akismet
**/gutenberg
**/simply-show-hooks
**/UpDevTools
**/twentyfifteen
**/twentyseventeen
**/twentysixteen
plugins/hello.php
**/faqs_cpt
**/ninja-forms
**/query-monitor
**/rest-filter-master
**/wp-super-cache
**/email-subscribers
**/google-analytics-dashboard-for-wp
