.site-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding:20px;
  @include box-shadow();

  

  .widget {
    align-self: flex-end;
    margin: 0;
  }

  button {
    background-color: transparent;
    border: gray solid 2px;
    border-radius: 100%
  }

  button:hover, button:active, button:focus {
    background-color: transparent;
    border: red solid 2px;
    border-radius: 100%
  }
  
}


.icon {
  width: 25px;
  height: 25px;
}

