.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;

  .site-branding img {
    max-height: 80px;
    width: auto;
  }

  svg.icon {
    width: 25px !important;
    height: 25px !important;
    fill: $color__menu-item;

    .active-search & {
      fill: $color__current-menu-item;
    }
  }

  .menu-toggle {
    margin: 0;
  }

  .menu-main-menu-container {
    align-self: center;
  }

  .widget {
    align-self: flex-end;
    margin: 0;
    display: none;
    width: 100%;
    text-align: right;
    padding-top: 20px;

    &.widget-show {
      display: block !important;
    }

    .search-field {
      float: left;
      width: 90%;
    }

    /*  input.search-submit{
      width: 8%;
      font-size: 15px;
      margin-left: 5px;
      background-color: $color__background-input;
      color: $color__text-button;

    }

     input.search-submit:hover, input.search-submit:focus{
      background-color: $color__button-hover;
    }*/
    label {
      color: $color__placeholder;
    }
  }
}

@media only screen and (max-width: 890px) {
  .site-header {
    .widget {
      .search-field {
        width: 85%;
      }

      input.search-submit {
        width: 12%;
      }
    }
  }

  .icon-bar {
    display: block;
    height: 4px;
    background-color: $color__menu-toggle-hamburger;
    width: 26px;
    margin: 5px auto;
  }

  .main-navigation {
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: nowrap;
    padding: 20px 0px 20px 0px;

    a {
      text-align: center;
    }
    .menu-toggle {
      align-self: center;
    }
  }
}

@media (max-width: 660px) {
  .main-navigation {
    width: 50%;
  }
}

@media (max-width: 400px) {
  .site-header {
    flex-direction: column;
    justify-content: center;

    .site-branding {
      text-align: center;
    }

    .widget {
      .search-field {
        width: 70%;
      }

      input.search-submit {
        width: 25%;
      }
    }
  }
  .main-navigation {
    width: auto;
    align-self: center;
    justify-content: center;

    ul {
      padding-left: 0 !important;
    }
  }
  .menu-toggle {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 890px) and (max-width: 1024px) {
  #primary-menu {
    display: flex;
    flex-direction: row;
  }
}
