#page, .site {
	position: relative;
	min-height:100vh;
	height: 100%;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

#content {
	padding-bottom:150px;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

body:not(.home) .site-main {
	padding: 3em;
	padding-bottom: 16em;

	p {
		text-align: justify;
	}

	.columns {
		display: flex;
	}
	
	.layout-column-1, .layout-column-2 {
		margin:0 2rem 0 2rem;
		width: 50%;
	}

	.entry-title {
		margin-left: 2rem;
	}
}
