#page, .site {
	position: relative;
	min-height:100vh;
	height: 100%;
	padding-bottom: 4rem;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
	padding: 0 1rem 10rem 1rem;
}

.entry-header{
	padding: 0 1rem 0rem 1rem;

}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

body:not(.home) .site-main {

	padding: 3em;

	p {
		text-align: justify;
	}

	.columns {
		display: flex;
	}
	
	.layout-column-1, .layout-column-2 {
		margin:0 2rem 0 2rem;
		width: 50%;
	}

	.entry-title {
		margin-left: 2rem;
	}

	#programme {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.filters {
		margin: 2rem;
	}

	.event-entry{
		display: flex;
		flex-direction: row;
		max-width: 50%;
		padding: 0 10px 0 10px;
		padding-bottom: 3em;

		.left-column, .right-column{
			align-self: start;
			padding: .5rem 1.5rem .5rem 1.5rem !important; 
		}

		h2, p {
			margin: 0;
		}
	}
}


@media only screen and (max-width: 640px) {
 
	#page, .site {
		padding-bottom: 16rem !important;
	}

	.page-about {		
		.site-main {
			padding: 1em !important;
		}
		.entry-content{
			padding-right: 5rem;
		}
		.columns {
			display: block !important; 
		}
		.layout-column-1, .layout-column-2 {
			width: 100% !important;
		}
	}

	
	
	#programme {
		flex-direction: column !important;
	}

	.entry-content {
		margin: 1.5em 0 1.5em 0;
	  	display: flex;
		flex-direction: column !important;  
	}

	.filters {
		display: flex;
    	flex-direction: column;
		justify-items: stretch;
		margin: 1rem !important;
	}

	.left-column, .right-column{
		padding: 0 !important;
	}

	select {
		margin: .5rem;
	}

	input[type="date"] {
		margin: .5rem;
	}

	h2 {
		font-size: 18px !important;
	}

	p:not(.site-description){
		font-size: 15px !important;
		line-height: 30px;
	}

	.event-entry{
		flex-direction: column !important;
		max-width: 100% !important;

	}
  }
  
  @media only screen and (min-width: 640px) and (max-width: 1024px) {

	.site-main {
		padding: 1em !important;
	}

	.entry-content {
	  margin: 1.5em 0 1.5em 0;
	  display: flex;
	  flex-direction: column !important;  

	}

	.filters {
		display: flex;
		margin: 1rem !important;
		}

	select {
		margin: .5rem;
	}

	input[type="date"] {
		margin: .5rem;
	}

	.event-entry{
		flex-direction: column !important;
	}

	h2 {
		font-size: 18px !important;
	}

	p:not(.site-description) {
		font-size: 15px !important;
		line-height: 30px;
	}
  }
  