#page,
.site {
  position: relative;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 10rem;
}

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

body:not(.home) .site-content,
body:not(.home) .content-area {
  margin: 1.5em 0 5rem 0;
  padding: 0 1rem;

  @media only screen and (max-width: 640px) {
    margin-bottom: 8rem;
  }
}

.page-home .site-content {
  margin-bottom: 15rem;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

[class^="page-whats-"].entry-header {
  margin-left: 2rem;
}

body:not(.home) .site-main {
  p {
    text-align: justify;
  }

  .columns {
    display: flex;
  }

  .layout-column-1,
  .layout-column-2 {
    margin: 0 2rem 0 0;
    width: 50%;
  }

  #programme {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: solid 15px $color__border-aqua;
  }

  .filters {
    margin: 2rem;
  }

  .filterElement {
    background-color: $color__background-dark-blue;
    color: $color__text-input;
    min-width: 25%;
    height: 45px;
    text-align: center;
    border-color: transparent;
    text-align-last: center; /* for chrome */
  }

  #submitFilterButton {
    font-size: 20px;
    min-width: 15%;
    max-height: auto;
    height: 45px;
    text-align: center;
    align-self: center;
  }

  .event-entry {
    display: flex;
    flex-direction: row;
    width: 50%;
    padding: 15px 10px 0 10px;
    padding-bottom: 3em;

    .left-column,
    .right-column {
      align-self: start;
      padding: 0.5rem 1.5rem 0.5rem 1.5rem !important;
      width: 50%;
    }

    h2,
    p {
      margin: 0;
      text-align: left;
    }
  }

  input {
    color: $color__background-aqua;
  }
}

@media only screen and (max-width: 640px) {
  #page,
  .site {
    padding-bottom: 16rem !important;
  }

  .page-about {
    .site-main {
      padding: 1em !important;
    }

    .columns {
      display: block !important;
    }
    .layout-column-1,
    .layout-column-2 {
      width: 100% !important;
    }
  }

  #programme {
    flex-direction: column !important;

    img {
      width: 100%;
    }
  }

  .entry-content {
    margin: 1.5em 0 1.5em 0;
    display: flex;
    flex-direction: column !important;
  }

  .filters {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    margin: 1rem !important;
  }

  .left-column,
  .right-column {
    padding: 0 !important;
    width: 100% !important;
  }

  select {
    margin: 0.5rem;
  }

  input[type="date"] {
    margin: 0.5rem;
  }

  h2:not(.widget-title) {
    font-size: 18px !important;
  }

  .event-entry {
    flex-direction: column !important;
    width: 100% !important;
  }
}

@media only screen and (max-width: 916px) {
  .filterElement,
  #submitFilterButton {
    font-size: 18px !important;
  }
  #submitFilterButton {
    min-width: 18% !important;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .site-main {
    padding: 1em !important;
  }

  .entry-content {
    margin: 1.5em 0 1.5em 0;
    display: flex;
    flex-direction: column !important;
  }

  .filters {
    display: flex;
    margin: 1rem !important;
  }

  .filterElement {
    min-width: 25%;
  }

  select {
    margin: 0.5rem;
  }

  input[type="date"] {
    margin: 0.5rem;
  }

  .event-entry {
    flex-direction: column !important;
  }

  .left-column,
  .right-column {
    width: 100% !important;
  }

  .page-home .site-content {
    margin-bottom: 10rem;
  }

  h2:not(.widget-title) {
    font-size: 18px !important;
  }
}
