body[class*="page-programme"] {
  .entry-header {
    display: none;
  }
  .event-header {
    border-bottom: 2px solid $color__border-aqua;
  }
  .event-title {
    line-height: 1.1em;
    text-transform: capitalize;
    a {
      text-decoration: none !important;
    }
  }
  .price {
    font-weight: bold;
  }
}

//single-event
.single-event_cpt {
  font-size: 18px;

  article {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: inline-axis;
    -webkit-box-direction: normal;
    -moz-box-orient: inline-axis;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    .left-column,
    .right-column {
      width: 47%;

      @media (max-with: 889px) {
        width: 100%;
      }
    }

    .right-column {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-lines: multiple;
      -moz-box-lines: multiple;
      -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: space-between;

      img {
        width: 100%;
        margin-bottom: 20px;
      }

      .subcolumn-A {
        width: 47%;
        margin-bottom: 10px;
        //font-size: 1.1em;
        line-height: 2em;
        font-weight: bold;

        @media (max-width: 450px) {
          width: 100%;
        }
      }

      .subcolumn-B {
        width: 47%;
        margin-bottom: 10px;
        font-weight: bold;
        color: $color__single-event-right-content;

        @media (max-width: 450px) {
          width: 100%;
        }
      }
    }

    .organiser-info {
      width: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: block-axis;
      -webkit-box-direction: normal;
      -moz-box-orient: block-axis;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      flex-direction: column;

      @media (max-width:890px){
        -webkit-box-align: end;
        -moz-box-align: end;
        -ms-flex-align: end;
        -webkit-align-items: flex-end;
        align-items: flex-end;
      }
    }
  }

  .entry-header {
    border-bottom: 8px solid $color__border-aqua;
  }

  .entry-title {
    margin: 0;
    line-height: 1;
  }

  .event-by {
    font-size: 1.3em;
    padding-bottom: 10px;
  }

  .date {
    margin-top: 1em;
  }

  .entry-content {
    color: $color__single-event-left-content;
  }

  .event-type {
    text-transform: capitalize;
  }

  .links {
    margin-top: 0;
    text-align: left;
  }

  .location {
    margin-top: 15px;
  }

  .organisers {
    margin: 15px 0;
  }

  .organiser-logos {
    margin-top: 15px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    @media (max-width:890px){
      -webkit-box-pack: end;
      -moz-box-pack: end;
      -ms-flex-pack: end;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
    }

  }
  .organiser-logos img {
    max-height: 80px;
    width: auto;
  }
  .organiser-logos img:not(:last-child),
  .organiser-logos img:not(:nth-last-child(0)) {
    margin-right: 10px;
  }
}
