/* Main Navigation */
.main-navigation {
  clear: both;
  display: block;
  width: 70%; /*100%;*/
  font-size: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-item-align:end;
  -webkit-align-self:flex-end;
  align-self: flex-end;


  ul {
    //display: none;
    opacity: 0;
    height: 0;
    list-style: none;
    margin: 0;
    padding-left: 0;
    transition: opacity 0.15s, height 0.15s;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 99999;

      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  li {
    float: none;
    position: relative;

    &:hover > a,
    &.focus > a {
    }
  }

  a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: $color__menu-item;
    text-align: right;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
    border-bottom: solid 10px $color__border-aqua;
  }  
}

.sub-menu .menu-item {
  background-color: $color__background-menu;
}


/* Mobile menu. */
.menu-toggle,
.main-navigation.toggled ul {
  //display: block;
  height: auto;
  opacity: 1;
}

.menu-toggle {
  background-color: $color__background-menu;
  max-width: 50px;
  margin-top: 68px;
  align-self: flex-end;
}


@media screen and (min-width: 890px) {
  //37.5em = 600px
  .menu-toggle {
    display: none;
  }
  .main-navigation {
    ul {
      display: block;
      opacity: 1;
      height: auto;
    }
    li {
      float: left;
    }
    a {
      padding: 10px 20px;
    }
  }
}

@media (max-width: 400px) {
  .menu-toggle {
    align-self: center;
    margin-top: 20px;
  }
  .main-navigation a {
    text-align: center;
  }

  .main-navigation,
  .main-navigation.toggled {
    font-size: 25px !important;
    padding-right: 20px !important;
  }

  .main-navigation {
    line-height: 1;

    ul {
      padding-left: 0 !important;
    }
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-previous::before {
    content: "<< ";
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }

  .nav-next::after {
    content: " >>";
  }
}

/* Social Navigation */
.social-navigation {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 1em;
  padding-top: 20px;

  ul {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
  }

  li {
    display: inline;
  }

  a {
    background-color: $color__background-social;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    height: 40px;
    margin: 0 1em 0.5em 0;
    text-align: center;
    width: 40px;
  }

  a:hover,
  a:focus {
    background-color: #333;
  }

  .icon {
    margin-top: 9px;
    height: 22px;
    width: 22px;
    top: 18px;
    vertical-align: top;
    fill: $color__fill-icon;
  }
}

/* What's On and Single event links */
.single-event_cpt .links {
  text-align: right;
  margin-top: 15px;
  margin-bottom: 15px;

  :last-child,
  :nth-last-child(1) {
    margin-right: 0;
  }
}

#programme .links a,
.single-event_cpt .links a {
  background-color: $color__background-whatson-icon;
  border-radius: 18px;
  display: inline-block;
  height: 35px;
  margin: 0 1em 0.5em 0;
  text-align: center;
  width: 35px;

  &:hover,
  &:focus {
    background-color: #333;
  }
}

#programme .links svg.icon,
.single-event_cpt .links svg.icon {
  margin-top: 6px;
  height: 22px;
  width: 22px;
  //top: 16px;
  vertical-align: top;
  fill: $color__fill-whatson-icon;
}
