$color__background-body: #fff;
$color__background-hero: #42D1B1;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #AD006D;/*#e6e6e6;*/
$color__background-menu-toggle:#ffffff;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-widgets: #FFF;
$color__background-footer: #42D1B1;
$color__background-social: #00ACED;

$color__site-title: #AD006D;
$color__site-description: #FFF;
$color__text-screen: #21759b;
$color__text-input: #666666;
$color__text-button: #ffffff;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__menu-item: #AD006D;
$color__current-menu-item: #42D1B1;
$color__menu-toggle-hamburger: #666666;
$color__text-main: #404040;
$color__widgets: #666;
$color__site-footer: #FFF;
$color__placeholder: #AD006D;
$color__subscriptions-message:#42D1B1;


$color__border-button: #AD006D #ccc #bbb;
$color__button-hover: #42D1B1;
$color__button-focus: #42D1B1;
$color__border-button-hover: #42D1B1 #bbb #aaa;
$color__border-button-focus: #42D1B1 #bbb #bbb;
$color__border-input: #AD006D;
$color__background-input: #AD006D;
$color__border-abbr: #666;

$color__fill-icon: #FFF;
$color__fill-whatson-icon: #AD006D;
