$color__background-body: #fff;
$color__background-hero: transparent;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #a66bed; /*#e6e6e6;*/
$color__background-menu-toggle: transparent;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-widgets: #fff;
$color__background-footer: transparent;
$color__background-social: #00aced;
$color__background-whatson-icon: #a66bed;
$color__background-dark-blue: #2f39ed;

$color__site-title: #a66bed;
$color__site-description: #0ea2c7;
$color__text-screen: #21759b;
$color__text-input: #ffffff;
$color__text-button: #ffffff;
$color__text-input-focus: #111;
$color__link: #2f39ed;
$color__link-visited: #0ea2c7;
$color__link-hover: #2f39ed;
$color__menu-item: #a66bed;
$color__current-menu-item: #0ea2c7;
$color__menu-toggle-hamburger: #666666;
$color__text-main: #2f39ed;
$color__text-subscribers: #a66bed;
$color__widgets: #666;
$color__site-footer: #FFF;
$color__placeholder: #AD006D;
$color__subscriptions-message:#0EA2C7;
$color__single-event-left-content:#A66BED;
$color__single-event-right-content:#0EA2C7;


$color__border-button: transparent;
$color__button-hover: #0ea2c7;
$color__button-focus: #0ea2c7;
$color__border-button-hover: transparent;
$color__border-button-focus: transparent;
$color__border-input: transparent;
$color__background-input: #0ea2c7;
$color__border-abbr: #666;
$color__border-aqua: #0ea2c7;

$color__fill-icon: #fff;
$color__fill-whatson-icon: #fff;
