$color__background-body: #fff;
$color__background-hero: #42D1B1;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-widgets: #FFF;
$color__background-footer: #42D1B1;

$color__site-title: #AD006D;
$color__site-description: #FFF;
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__menu-item: #AD006D;
$color__current-menu-item: #42D1B1;
$color__text-main: #404040;
$color__widgets: #666;
$color__site-footer: #FFF;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
